{% extends "base.html" %}
{% block nav_link %}
<li>
    <a href="/pages/index">All Post</a>
</li>
{% endblock %}
{% block home_url %} "index" {% endblock %}
{% block header %} Tanmay's Weblog {% endblock %}
<head>
    <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
    {% block body %}
    <h1>All the pages written by me till now :</h1>

    <ul>
	{% if pages %}
	{% for page in pages %}
	<li>
            <div class="post-preview">
                <a href="/pages/view/{{page.page_qualifier}}">
                    <h3 class="post-title"> {{page.page_title}} </h3>
		    <!-- <h3 class="post-subtitle"> testing </h3> -->
                </a>
                <p class="post-meta">Posted by <a href="#">Tanmay Dutta</a> on September 18, 2014</p>
            </div>
	</li>
	{% endfor %}
	{% else %}
	<li>No Wiki Pages</li>
	{% endif %}
    </ul>
    {% endblock %}
</form>
</body>
