{% extends "pages/index.html" %}
{% block home_url %} "../index" {% endblock %}
{% block title %}{{ page.page_title }}{% endblock %}
{% block body %}
<h1>{{ page.page_title }}</h1>
<div>{% raw %}
    {{cleaned|safe}}
    {% endraw %}
</div>
<ul>
    <!-- <li><a href="{% url action="edit" %}/{{ page.id }}">Edit</a></li> -->
</ul>
{% endblock %}
