{% extends "base.html" %}

{% block title %}Colosimo: Register{% endblock %}

{% block body %}
<h1>Register</h1>
{% if error %}
<h5 style="color:#FF0000;">{{ error }}</h5>
{% endif %}
<form method="post">
Username:<br />
<input name="username" /><br /><br />
Email: <br />
<input name="email" /><br /><br />
Password:<br />
<input name="password" type="password" /><br /><br />

<input type="submit" value="Register" />
</form>
{% endblock %}
