{% extends "base.html" %}

{% block title %}Tanmay Datta's weblog{% endblock %}

{% block content %}
{% if tanmaydatta_user %}
<p>Hello user, {{ tanmaydatta_user.username }}.</p>
{% endif %}
{% if not tanmaydatta_user %}
<p>You can't login right now.. later this --> <a href="/user/register">register</a>, will be working.</p>
{% endif %}
{% endblock %}

{% block body %}
<h2>Currently I am hosting following content here </h2>
<div>
    <figure>
	<a href="fixengine">
		<h3>FixEngine</h3>
		<p>API for Fix protocol parser.</p>
	    </figcaption>
	</a>

    </figure>

    <figure>
	<a href="ura_analytics">
		<h3>Singapore Properties</h3>
		<p>For visualizing housing data in Singapore</p>
	    </figcaption>
	</a>

    </figure>

    <figure>
	<a href="pages/index">
		<h3>My Blog</h3>
		<p>My technical journey</p>
	    </figcaption>
	</a>
    </figure>

{% endblock %}

